* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input {
    cursor: auto;
    box-shadow: none;
}

*:focus {
    outline: none;
}

html {
    font-size: 14px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 20px;
    }
}

body {
    color: var(--font-color);
    background-color: var(--bg-color);
}

:root {
    --primary-color: blue;
    --secondary-color: #536390;
    --font-color: #000000;
    --bg-color: #fff;
    --color: black;
    --color-switch: black; 
    --heading-color: #000000;
    --background-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23444444' stroke-width='71.4' stroke-opacity='0.06' %3E%3Ccircle fill='%23ffffff' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f9f9f9' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f3f3f3' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ededed' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e6e6e6' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23e0e0e0' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23dadada' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23d4d4d4' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23cecece' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23c8c8c8' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23c2c2c2' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23bdbdbd' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23b7b7b7' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23b1b1b1' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23ababab' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23a5a5a5' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23a0a0a0' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%239a9a9a' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
}

[data-theme="dark"] {
    --primary-color: red;
    --secondary-color: #696969;
    --font-color: white;
    --color: white;
    --color-switch: white; 
    --bg-color: #0f0f0f;
    --heading-color: #afafaf;
    --background-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%235d5d5d' stroke-width='64.9' stroke-opacity='0.11' %3E%3Ccircle fill='%23000000' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23020202' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23040404' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23070707' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23090909' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%230b0b0b' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%230d0d0d' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%230f0f0f' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23111111' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23141414' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23161616' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23181818' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%231a1a1a' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%231c1c1c' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%231e1e1e' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23212121' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23232323' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23252525' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    
}

/* Nav Beginning */


nav {
    padding: 0 80px;
    margin-top: 40px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    position: absolute;
}

nav svg {
    width: 100px;
    fill: var(--color);
}


a {
    text-decoration: none;
    color: var(--font-color);
}


.nav_links,
.nav_rechts {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.nav_rechts a {
    font-size: 1em;
    padding: 10px 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.nav_links a {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.nav-toggle-label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    z-index: 120;
}

.nav-toggle-label-span-1,
.nav-toggle-label-span-2,
.nav-toggle-label-span-3 {
    background:  var(--color-switch); 
    cursor: pointer;
    z-index: 110;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 5px;
    margin: 5px 0;
    transition: opacity 200ms ease, transform 200ms ease;
}

.nav_rechts1 {
    display: none;
}

.nav-links-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:  var(--bg-color);
    transform: translateX(100vw);
    transition: transform 0.5s ease;
    z-index: 50;
}

.nav-link {
    font-size: 30px;
    color: var(--font-color);
    letter-spacing: 3px;
    margin: 8px 0;
    padding: 29px;
    position: relative;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    position: absolute;
    transform: scale(0, 1);
    width: 100%;
    height: 2px;
    background: var(--color-switch);
    transition: transform 200ms ease;
    left: 0;
    top: 38px;
}

.nav-link:hover::after {
    transform: scale(1, 1);
}

#nav-toggle:checked~.nav-links-container {
    transform: translateX(0);
}

#nav-toggle:checked~.nav-toggle-label .nav-toggle-label-span-1 {
    transform: translateY(15px) rotate(-45deg)
}

#nav-toggle:checked~.nav-toggle-label .nav-toggle-label-span-2 {
    opacity: 0;
}

#nav-toggle:checked~.nav-toggle-label .nav-toggle-label-span-3 {
    transform: translateY(-15px) rotate(45deg);
}

@media screen and (max-width: 800px) {

    .nav_rechts1 {
        display: unset;
        margin-right: 15px;
    }

    .nav_rechts {
        display: none;
    }

    .nav-link::after {
        top: 75px;
    }
}

/* Dark Mode Slider Start */

.theme-switch-wrapper {
    display: flex;
    align-items: center;

  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: var(--color-switch); 
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: var(--bg-color);  
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: var(--color-switch); 
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* Dark Mode Slider End */

/* Nav End */
/* Intro Start */

.wrapper {
    margin: 10px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: var(--background-img);
    background-attachment: fixed;
    background-size: cover;
    /* background by SVGBackgrounds.com */
}

.text {
    text-align: center;
    font-size: 3em;
    line-height: 60px;
    pointer-events: none;
    user-select: none;
    margin-left: 10px;
}

.color {
    color: var(--primary-color);
}

.test {
    margin-left: -250px;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: -1;
}

@media screen and (max-width: 800px) {

    nav {
        padding: 0 10px;
        margin-top: 0px;
    }

    nav svg {
        width: 75px;
    }

    .nav_rechts a {
        font-size: 1em;
        padding: 10px 5px;
    }

    .text {
        font-size: 1.7em;
        line-height: 30px;
    }

    .test {
        left: -20px;
        top: -250px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 400px) {

    .nav_links,
    .nav_rechts {
        margin: 0px;
    }
}

/* Mouse pointer Start */

.scroll-downs {
    position: absolute;
    top: 70vh;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    width: 34px;
    height: 55px;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid var(--color);
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: var(--color);
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

/* Mouse pointer End */
/* Intro End */

/* About Me Start */

.about_head {
    padding: 70px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_header {
    font-family: 'raleway-bold', sans-serif;
    font-size: 3em;
}

.about_line {
    width: 70px;
    height: 4px;
    background-color: var(--color);
    margin-left: auto;
    margin-right: auto;
}

.about_me {
    text-align: center;
}

.img_me {
    width: 90px;
    border-radius: 50%;
}

.about {
    height: 100%;
    
}

.subspan {
    font-size: 2em;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.about_line.aboutl {
    margin-top: 10px;
    margin-bottom: 75px;
}

.img-me {
    display: block;
    width: 140px;
    float: right;
}

.me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 55px 0px;
}

.who {
    font-size: 1.3em;
    font-weight: 900;
}

.aboutme {
    align-content: center;
    width: 30%;
    line-height: 30px;
}

.aboutme span {
    display: flex;
    flex-direction: column;
}

.otherinfo {
    padding: 125px 0px;
}

.Professions {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 1em;
    flex-wrap: wrap;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    color: var(--color);
    font-weight: 999;
    justify-content: center;
}

/* Slider Start */


.slideshow-container {
    position: relative;
}

.slideText {
    display: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 775px;
}

.slideText span {
    display: flex;
    flex-direction: column;
}

.slideText svg {
    fill:  var(--color);
    max-width: 400px;
    max-height: 300px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: var(--color);
    font-weight: bold;
    font-size: 50px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    color: rgb(183, 183, 183);
}

.dot-container {
    text-align: center;
    padding: 20px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(183, 183, 183);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #000000;
}

.profession {
    font-size: 1.3em;
    color: var(--color);
    flex-wrap: nowrap;
}

.explanation {
    color: #bdbdbd;
}

@media screen and (max-width: 800px) {

    .slideText {
        display: flex;
        width: 100%;
    }


    .next {
        right: -70px;
    }

    .prev {
        left: -70px;
    }

    .slideText svg {
        width: 200px;
        height: 200px;
    }
}

/* Slider End */

@media screen and (max-width: 800px) {

    .about {
        height: 100%;
    }

    .img-me {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }

    .aboutme {
        width: 250px;
        line-height: 22px;
    }
}

/* Coding Languages Start */


.languages {
    display: flex;
    font-size: 1em;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--color);
    font-weight: 999;
    justify-content: center;
}

.codinglang {
    margin-bottom: 100px;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

.codinglang span {
    display: flex;
    color: var(--color);
    font-size: 1.5em;
    font-weight: 100;
    flex-direction: column;
}

/* Coding Languages End */


/* About End */
/* Portfolio Start */

.portfolio {
    height: 100%;
    background-color: var(--bg-color);
}

.portfolio_head {
    padding: 70px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio_header {
    font-family: 'raleway-bold', sans-serif;
    font-size: 3em;
}

.portfolio_line {
    width: 70px;
    height: 4px;
    background-color: var(--color);
}

/* Modaal Venster Start*/


.projects {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

section a {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

section a:hover {
    color: blue;
}

section h2 {
    margin-top: -75px;
    font-size: 3em;
    color: #fafafa;
}

img.ButtonM {
    width: 40%;
    height: 40%;
    margin: 50px 50px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

img.ButtonM:hover {
    opacity: 0.6;
    cursor: pointer;
}

article {
    margin: 0px auto;
    width: 70%;
}

.modaal-knop {
    cursor: pointer;
}

.m-Background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.84);
    display: grid;
    justify-items: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
}

.modaal {
    width: 70%;
    display: grid;
    animation: opkomen 0.2s forwards;
}

.modaal img {
    width: 70%;
    margin: 20px 0;
}
@keyframes opkomen {

    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

@media screen and (max-width: 1000px) {

    .portfolio {
        height: 100%;
    }
}

@media screen and (max-width: 800px) {

    img.ButtonM {
        width: 60%;
    }

    .modaal img {
        width: 100%;
        margin: 20px 0;
    }

    .close {
        width: 1em;
    }

    .modaal {
        width: 90%;
    }
}

/* Modeel Venster End */

/* Portfolio End */

/* Contact Start */

.contact {
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_head {
    padding: 70px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_header {
    font-family: 'raleway-bold', sans-serif;
    font-size: 3em;
}

.contact_line {
    width: 70px;
    height: 4px;
    background-color: var(--color-switch);
}

.contact_inputs {
    text-align: center;
}

.button {
    padding: 7px 30px;
    background-color: var(--color);
    border-radius: 4px;
    color: var(--bg-color);
    font-weight: bolder;
    font-size: 0.7em;
    transition: 0.5s;
    -webkit-appearance: none;
}

.button:hover {
    background-color: var(--bg-color);
    color: var(--color);
}

/* Input start */

.input-container {
    width: 250px;
    height: 40px;
    border-bottom: 1px solid var(--secondary-color);
    position: relative;
    display: flex;
    align-items: center;
    margin: 30px;
}

.msg-container {
    width: 400px;
    height: 200px;
    align-items: flex-start;
}

.input {
    border: none;
    width: 100%;
    height: 100%;
    color: var(--color);
    background: transparent;
    font-size: 18px;
    padding: 0px 5px;
    resize: none;
}

.input_label {
    position: absolute;
    left: 5px;
    font-size: 18px;
    color: var(--color-switch);
    transition: transform 200ms ease, font-size 200ms ease, color 200ms ease;
    pointer-events: none;
}

.input_underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    background: var(--color);
    width: 100%;
    height: 2px;
    transform-origin: right;
    transform: scale(0.1);
    transition: transform 200ms ease;
}

.input:focus~label {
    font-size: 16px;
    transform: translate(-5px, -20px);
}

.has-value~label {
    font-size: 16px;
    transform: translate(-5px, -20px);
    color: var(--color-switch);
}

.input:focus~.input_underline {
    transform-origin: left;
    transform: scale(1);
}

@media screen and (max-width: 800px) {

    .contact {
        height: 100%;
    }

    .input {
        font-size: 15px;
    }

    .input-label {
        font-size: 20px;
    }

    .input_label {
        font-size: 15px;
    }

    .button {
        margin-bottom: 70px;
    }

    .input:focus~label {
        font-size: 15px;
        transform: translate(-5px, -30px);
    }

    .has-value~label {
        font-size: 15px;
        transform: translate(-5px, -30px);
    }

    .input-container {
        width: 200px;
        height: 35px;
        border-bottom: 1px solid var(--color-switch);
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 75px;
    }

}

/* Input End */

/* Contact End */

/* Footer Start */
footer {
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.socials {
    padding-top: 100px;
    justify-content: space-between;
    display: flex;
}

.social_list {
    font-size: 1.2em;
    align-content: center;
    display: flex;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    transition: color 1s ease-in-out;
}

.social_list a:hover {
    color: #bdbdbd;
}

.smedia_header {
    font-size: 1.5em;
    display: flex;
    text-transform: uppercase;
}

.header_line {
    width: 70px;
    height: 3px;
    background-color: var(--color-switch);
    margin: 10px auto 40px;
}

.footer_content {
    display: flex;
    flex-direction: column;
}

.footer_items {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}


.copyright {
    justify-content: center;
    display: flex;
}

@media screen and (max-width: 800px) {

    .socials {
        flex-direction: column;
    }

    .smedia_header {
        align-self: center;
    }

    .social_list {
        margin-bottom: 40px;
        width: 25%;
    }

}

/* Footer End */